@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body,h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100% !important;
}

.logoimg{
    width: 50px;
}

.logoimg img{
    margin-right: 12px;
}

.bannarsection{
    background: url(./img/mbr-10.jpg) no-repeat center center;
    padding: 160px 0px;
   
    position: relative;
    z-index: 1;
}

.bannarsection::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;

}


.bannarcontent h1{
    font-weight: bold;
} 


.aboutcontant{
    
    padding: 113px 0px;
}

/* about section */

.futer-itam{
    height: 300px;
}


.left-img{
    width: 40%;
}

.left-img img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
   
}


.right-contact{
    width: 60%;
    padding: 65px 22px;
}

.right-contact h4{

    font-size: 21px; 
    font-weight: unset;
    padding-bottom: 10px;
}

.right-contact p{

    font-size: 16px;
}

.imgitam{

}
.imgitam a{
    position: relative;
    display: block;

}
.imgitam a::before{

    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #6279df7c;
    visibility: hidden;
    transition: .4s;
}

.imgitam:hover a::before{
    visibility: visible;
}


.sizebar h1{

    font-size: 50px;
    padding: 10px;
}
 
.priching-itam{
    box-shadow: 1px 1px 6px -1px;

    background-color: white;
    padding: 28px;
}

.priching-itam h1{

    font-size: 42px;
}
.priching-itam h5{ 

}

.priching-itam ul {
    
} 
.priching-itam ul li{

    font-size: 19px;
    list-style: none;
}

.priching-itam ul li i{
    
    min-width: 35px; 
    color: #6278df;
    font-size: 26px;
    margin-right: 6px;
}

.buttonbar a{
    
    transition: .4s;
}

.priching-itam:hover .buttonbar a{
    background-color: #6278df;
    color: white;
}

.buttonbar a:hover{
    background-color: black !important;
    color: white;
}

.sectionbar{
    background-color: #f7f9ff;

}

.paddbar{

    font-size: 19px;  
    padding: 20px;
}

.heddeingbar{
    
    font-weight: bolder;
}


.batton{
    background-color: #6278df;
}

}

/* about section */

.futer-itam{
    height: 300px;
}


.left-img{
    width: 40%;
}

.left-img img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
   
}


.right-contact{
    width: 60%;
    padding: 65px 22px;
}

.right-contact h4{

    font-size: 21px; 
    font-weight: unset;
    padding-bottom: 10px;
}

.right-contact p{

    font-size: 16px;
}
